li {margin-bottom: 12px}
div{
	background-image: url(https://developer.mozilla.org/samples/cssref/background-repeat/starsolid.gif);
	width: 144px;
	height: 84px;
}

.one{
	background-repeat: no-repeat;
}

.two{
	background-repeat: repeat;
}

.three{
	background-repeat: repeat-x;
}

.four{
	background-repeat: repeat-y;
}

.five {
	background-image: url(https://developer.mozilla.org/samples/cssref/background-repeat/starsolid.gif),
	url(https://developer.cdn.mozilla.net/media/redesign/img/favicon32.png);
	background-repeat: repeat-x, repeat-y;
	height: 144px;
}